@{
    ViewBag.Title = "Återställning av lösenordet misslyckades.";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Kontonamn kunde inte hittas. Försök igen.
    </p>
</div>