@{
    ViewBag.Title = "Återställning av lösenordet.";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Var god, se din e-postlåda för instruktioner för att återställa ditt lösenord.
    </p>
</div>
	
