@{
    ViewBag.Title = "Återställning av lösenordet misslyckades.";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Mail för återställning av lösenord kunde inte skickas. Kontakta administratören.
    </p>
</div>